name: "Follower graph"
on:
  schedule:
  - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  graph:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - run: sudo apt-get update -y && sudo apt-get install -y --fix-missing gnuplot && bash ${GITHUB_WORKSPACE}/.github/followers.sh "${GITHUB_WORKSPACE}/.github"
      
      # - run: git config --local user.email "test@github.com" && git config --local user.name "GitHub Action test" && git add ${GITHUB_WORKSPACE}/.github && git commit -m "Add changes"
      
      - name: Push files
        uses: EndBug/add-and-commit@v9
        with:
          add: .
          author_name: Github Actions
          author_email: actions@github.com
